#scroll-left {
    overflow-y: auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.register {
    grid-column: 2;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%-10px;
    height: 70px;
    border: 3px solid #151515;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marble {
    flex-grow: 0;
    flex-shrink: 0;
    margin: 10px;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: hsla(123, 100%, 56%, 0.884);
}

#pointer {
    color: red;
    position: relative;
    top: -4pt;
}

.register-container {
    display: grid;
    grid-template-columns: 50px;
}

.register-container .fa-plus,
.register-container .fa-minus {
    margin: 10px;
}

.register-container .fa-plus:hover,
.register-container .fa-minus:hover {
    color: blueviolet;
}

.register-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register p {
    font-size: 60px;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0px;
    height: 60px;
    color: hsla(123, 100%, 56%, 0.884);
}
